<div class="container text-center">
    <img src="../assets/images/burger-girl.png" alt="burger">
    <h1>Eat-Da-Burger!</h1>
</div>

<div class="container" id="columns">
    <div class="row">
        <div class="col-md-6">
            <h2>Burgers Available</h2>
            <ol>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block status=true}}
                {{/unless}}
                {{/each}}
            </ol>
        </div>
        <div class="col-md-6">
            <h2>Burgers Devoured</h2>
            <ol>
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block status=false}}
                {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>
</div>

<div class="container text-center" id="newBurgerForm">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center name">Name Your Burger</h2>

            <form id="create-form">
                <div class="form-group text-center">
                    <input type="text" id="burg" name="name">
                </div>
                <button id="submitBtn" class="btn" type="submit">Make Your Burger!</button>
            </form>
        </div>
    </div>
</div>